<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  
  <body style="font-family:sans-serif;">
    <header>
      <div style="width:100%; align-items: center; text-align: center;">
        <!-- <p style="color: white; font-size: 20px; font-weight: bold; text-align: center;"> 콘서트: <%= concertTitle %></p>
        <p style="color: white; font-size: 20px; font-weight: bold; text-align: center;"> 티켓오픈일: <%= concertOpenDate %> </p> -->
        <img style="height:70px;" src=<%=allconLogo %> />
      </div>
      <div style="width:100%; font-size: 20px; font-weight: bold; align-items: center; text-align: center; margin-bottom:5px;">
        콘서트: <%= concertTitle %>
      </div>
      <div style="width:100%; font-size: 20px; font-weight: bold; align-items: center; text-align: center; margin-bottom:5px;">
        티켓오픈일: <%= concertOpenDate %>
      </div>
      <div style="background-color: #ffce63; width:100%; height: 5px; margin-bottom: 30px; background: radial-gradient(180deg, #ffce63, white); "></div>
    </header>

    <section >
    
    <article style="width:100%; max-width:500px; margin:0 auto; text-align:center; margin-bottom:30px; z-index: 999;">

      <img style="width: 100%; height: 150%; opacity: 100%;" src=<%=concertImageUrl %> />

    </article>

    <article style="width:100%; max-width:250px; margin:0 auto; text-align:center; margin-bottom:30px; z-index: 999;">
      <div style="text-align:center; font-weight:bold; font-size: 20px; ">
        <a href='<%=concertUrl %>' style="display: block; text-decoration: none; color: white; border-radius:8px; background-color:#ffce63; padding:10px; margin-bottom:10px;" target="_blank" >티켓 예매 바로가기</a>
        <!-- <a href='https://all-con.kr' style="display: block; text-decoration: none; color: white; border-radius:8px; background-color:#191a20; padding:10px; margin-bottom:10px;" target="_blank" >ALL-CON 바로가기</a> -->
      </div>
    </article>

    <article>

      <div style="width:100%; height: 30px; color: #191a20;; font-size: 30px; font-weight: bold; margin-bottom:10px; vertical-align: center;">
        &nbsp;TOP6 CONCERTS
      </div>
      <div style="background-color:#ffce63; width:100%; height: 5px; margin-bottom: 30px; background: linear-gradient(to right,#ffce63, white); "></div>

    </article>

      <article style="position: relative; display: flex; width: 100%; flex-wrap: wrap;">
      <% for(let i = 1; i <= hotConcertList.length; i++) {%>
      <article style="width:45%; max-width:1500px; height: 150px; margin:0 auto; margin-bottom:30px; display: flex; justify-content: flex-start; align-items: center; border: 1px solid #c4c4c4; border-radius: 10px;">
        <div style="display: flex; width: 60px; font-size: 18px; font-weight: bold; justify-content: center; text-align: center; vertical-align: center; align-items: center;"> 
          <p style="position: relative;"><%= i %>위</p>
        </div>
        <div style="position: relative; display: flex; justify-content: center; align-items: center; ">
          <p style="position: relative;">
          <a href='<%=hotConcertList[i-1].link %>' style="display: block; justify-content: center; align-items: center; text-decoration: none;" ><img style="position: relative; height:150px; width: 90px; margin-right: 10px; " src=<%=hotConcertList[i-1].image_concert %> /></a>
          </p>
          <div">
        <h3 style="display: flex; font-size: 18px; text-align: center;"> 
          <p style="position: relative; ">
            <%= hotConcertList[i-1].title %>
          </p>
        </h3> 
         </div>
      </div>
      </article>
      <%}%>
    </article>

    <div style="width:100%; max-width:350px; margin:0 auto; text-align:center; margin-bottom:30px; z-index: 999;">
    <div style="display: flex; justify-content: center; align-items: center; text-align:center; font-weight:bold; font-size: 20px; margin-bottom: 30px;">
      <a href='https://all-con.kr' style="width: 100%; display: block; text-decoration: none; color: white; border-radius:8px; background-color:#ffce63;  padding:10px; margin-bottom:10px;" target="_blank" >ALL-CON 바로가기</a>
    </div>
    </div>

    </section>
    <footer style="font-size:14px; padding:20px; color:#A9A9A9; text-align:center;">
      <div style="background-color:#ffce63; width:100%; height: 5px; margin-bottom: 30px; background: linear-gradient(to 0deg, #ffce63, white); "></div>
      <div style="margin-bottom: 20px;">
        <img style="height:70px;" src=<%=allconLogo %> />
      </div>
			<p>Copyright ⓒ 2021-2022 weAct. All rights  reserved.</p>
			<p style="font-size:12px;">본 메일은 발신전용입니다.<br/>문의사항이 있으시다면 <a href='https://github.com/joykim93/ALL-CON'>ALL-CON Github</a>를 확인해주세요.</p>
      <br/>
      <div style="display: flex; justify-content: center;">
        <img style="height:30px;  margin-right: 20px; top:10px;" src=<%=youtubeLogo %> />
        <img style="height:30px; top:10px;" src=<%=instaLogo %> />
      </div>
		</footer>
  </body>
</html>